<h1><%= @task.name %></h1>

<h3>Done: <%= @task.done %></h3>

<h3>Created At: <%= @task.created_at %></h3>

<h3>Updated At: <%= @task.updated_at %></h3>

<%= link_to 'Back to tasks list', tasks_path %>
