<h1>New dose for <%= @cocktail.name %></h1>
<%= simple_form_for [@cocktail, @dose] do |f|%>
  <%= f.input :description, label: "Amount" %>
  <%= f.input :ingredient_id, collection: Ingredient.all.order("name") %>
  <%= f.submit %>
<% end %>
